/* Add your styles here. */




/* DO NOT CHANGE CODE BELOW! */

/* .main {
    width: 70%;
    margin: 0 auto;
    padding: 5px 15px;

    background-color: rgb(255, 251, 228);
    color: black;
    line-height: 1.3;
    zoom: 1.3;
}

.main h1 {
    margin-bottom: 45px;

    text-align: center;
}

.main h2 {
    margin-top: 45px;
} */